[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pymysql = "*"
falcon = "*"
dictalchemy = "*"
inflection = "*"
bcrypt = "*"
falcon-cors = "*"
waitress = "*"
gunicorn = "*"
pyjwt = "*"

[dev-packages]
