[client]
default_character_set=utf8

[mysqld]
user=mysql
character-set-server=utf8
explicit_defaults_for_timestamp=on
log-error=/var/log/mysqld.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0